body {
  margin: 1rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #444;
}

.invalid {
  color: rgb(221, 221, 221);
}

.valid {
  color: rgb(0, 100, 0);
}

.glimatar-image, 
.glimatar-initials {
  border-radius: 50%;
}

.glimitar-initials {
  display: flex;
  background-color: rgb(141, 228, 141);
}

input {
  margin: 0.15rem 0.25rem;
  padding: 0.5rem;
  border-radius: 3px;
  border-style: ridge;
}